
.vs/DakarRally/DesignTimeBuild/

.vs/DakarRally/v16/

DakarRally/obj/

DakarRally/bin/Debug/net5.0/

DakarRally/appsettings.json

*.cache

DakarRally.Domain/obj/

DakarRally.DataAccess/obj/Debug/net5.0/

DakarRally.DataAccess/bin/Debug/net5.0/ref/

DakarRally.DataAccess/bin/Debug/net5.0/

DakarRally.Domain/bin/Debug/net5.0/ref/

DakarRally.Domain/bin/Debug/net5.0/

DakarRally.DataAccess/obj/
